# WebRTC
flask==3.1.0
pyaudio==0.2.14
av==13.1.0
aiortc==1.10.1
cryptography==44.0.2

requests==2.32.3

# LangGraph
langgraph==0.3.25
langchain_openai==0.3.12
typing_extensions==4.12.2
langchain==0.3.23

# voice
sounddevice==0.5.1
numpy==2.2.4
mecab-python3==1.0.10
ipadic==1.0.0

# test
pytest==8.3.5
pytest-cov==6.1.1

# vector store
langmem==0.0.25
psycopg2==2.9.10
langchain-huggingface==0.1.2
chromadb==0.6.3
langchain-chroma==0.2.3

# voice
flask-socketio==5.5.1
